apiVersion: apps/v1
kind: Deployment
metadata:
  name: pingpong-deployment
spec:
  replicas: 4
  selector:
    matchLabels:
      app: pingpong
  template:
    metadata:
      labels:
        app: pingpong
    spec:
      containers:
        - name: pingpong-container
          image: elirazo/pingpong-app
          ports:
            - containerPort: 5005
---
apiVersion: v1
kind: Service
metadata:
  name: pingpong-service
spec:
  type: NodePort
  selector:
    app: pingpong
  ports:
    - protocol: TCP
      port: 5005
      targetPort: 5005
      nodePort: 30005  

